/* By Nijikokun <nijikokun@gmail.com> */
/* Modified by TehNut */

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
	font-family: 'Open Sans', Helvetica, sans-serif;
    background: rgba(204,204,204,1);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 1em 0 0;
    color: #333;
}

h2 {
    font-size: 28px;
    line-height: 1.5em;
    margin: .5em 0 0;
}

p {
    color: #707070;
    font-size: 1.1em;
    line-height: 1.7em;
}

a {
	color: hsl(0,0%,20%);
	text-decoration: none;
}

a:hover {
    color: #888;
    text-decoration: none;
}

header {
    color: white;
    background: url("../img/header2.png") no-repeat;
    background-size: cover;
}

header .overlay {
    background: hsla(270, 50%, 40%, 0.8);
}

header nav h1 {
    margin: 0;
    color: white;
    padding: 6px 0 16px;
    line-height: 30px;
    font-weight: 300;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

header nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 30px;
}

header nav ul li a {
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin: 10px 0 0 5px;
    padding: 0 12px;
    font-size: .8em;
    border: 2px solid transparent;
    border-radius: 2px;
}

header nav ul li a:hover {
    color: white;
}

header nav ul li a.join {
    border-color: white;
    font-weight: 600;
    color: white;
}

header .hero {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 0 100px 0;
}

header .hero h1 {
    color: white;
    margin: 0;
    padding-top: 2em;
    font-size: 42px;
    font-weight: 300;
}

header .hero h2 {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

header .hero .btn.btn-full {
    display: inline-block;
    margin: 2em 10px 0 0;
    color: hsla(280, 75%, 40%, 0.8);
    border: 2px solid hsl(210, 100%, 98%);
    padding: 15px 30px;
    border-radius: 2px;
    background: none repeat scroll 0% 0% hsl(210, 100%, 98%);
    font-family: Lato, sans-serif;;
    font-size: 22px;
    font-weight: 400;
    opacity: 0.8;
    transition: all .4s;
}

header .hero .btn.btn-empty {
    display: inline-block;
    margin: 2em 10px 0 0;
    color: hsl(210, 100%, 98%);
    border: 2px solid hsl(210, 100%, 98%);
    padding: 15px 30px;
    border-radius: 2px;
    font-family: Lato, sans-serif;;
    font-size: 22px;
    font-weight: 400;
    opacity: 0.8;
    transition: all .4s;
}

header .hero .btn:hover {
    opacity: 1;
}

header .hero .meta {
    font-size: 11px;
    background: hsla(280, 75%, 40%, 0.8);
}

.box {
    float: left;
    width: 100%;
    margin: 1.7em 0;
}

.box .inner {
    text-align: center;
    padding: 15px;
}

.box .inner .icon {
    font-size: 52px;
    color: #888;
}

.box .inner .dark.icon:before {
    color: #111;
}

.box .inner .icon:before {
    color: hsla(280, 75%, 40%, 0.8);
}

article {
    position: relative;
    padding-left: 200px;
}

article .icon {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -20px;
    padding: 0 30px;

    font-size: 202px;
}